@import "bootstrap";

.col-xs-4 {
  height: 300px;
}

.middle-row {
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

.btn {
  margin-top: 125px;
}

.middle-column {
  border-left: solid 5px black;
  border-right: solid 5px black;
}

.image {
  height: 100%;
}
